@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: black

}
header .logo{
    float: left;
}
nav a{
    text-decoration: none;
    display: inline-flex;
    color: #fff;
    margin: 30px;
    padding: 11px 25px;
    border-radius: 30px;
    transition: color 0.3s;
    transition: background-color 0.4s;
}


nav a:hover{
    background-color: #fff;
    color: black;
}

.encabezado-img{
    background-image: url(imagenes/foto\ inicial.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.encabezado-img h1{
    font-size: 100px;
    font-family: 'Lora', serif;
}

.dudas p{
    background: #3E5151;  
    background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  
    background: linear-gradient(to right, #DECBA4, #3E5151); 

    text-align: left;
    padding: 50px 0;
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    
    background: #3E5151;  
    background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  
    background: linear-gradient(to right, #DECBA4, #3E5151); 
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],input[type="email"],textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffff;
    border-radius: 5px 20px;
  }
  
  input[type="submit"] {
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  ::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb{
    background: yellow;
    border-radius: 4px;
    
}





.pie-pag{
    background-color: black;
    text-align: center center;
    padding: 0;
    margin-top: 20px;
}
